<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 

    <!-- Bean declarations go here -->
    <bean id="duke" class="springidol.Juggler" />

    <bean id="sonnet29" class="springidol.Sonnet29" />
    
    <bean id="poeticDuke" class="springidol.PoeticJuggler">
        <constructor-arg value="15" />
        <constructor-arg ref="sonnet29" /> 
    </bean>
    
    <bean id="theStage" class="springidol.Stage" factory-method="getInstance" />    
    
</beans>